<script>
  document.body.classList.add("admission-and-aid", "top-level-page");
</script>

<div class="admission-aid-hero">
  <div class="admission-aid-hero__breadcrumbs">
    {% include "@breadcrumb--top-level-pages" with hero.breadcrumbs %}
  </div>
  <div class="admission-aid-hero__media">
		<img class="admission-aid-hero__media-mobile" src="{{ hero.image_mobile|path }}" alt="" />
    <img class="admission-aid-hero__media-desktop" src="{{ hero.image_desktop|path }}" alt="" />
	</div>
  <h1 class="admission-aid-hero__title">{{ hero.title }}</h1>
  <div class="admission-aid-hero__graphic">
    <svg viewBox="0 0 800 600" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg">
      <path d="m582 75 74 318 125 69-350 104L22 428 3 264v-85L582 75z"/>
    </svg>
  </div>
  <div class="hero__subnav-wrap">
    {% include "@subnav--horizontal" with hero.subnav_horizontal %}
  </div>
</div>

<div class="admission-aid-explore">
  <div class="admission-aid-explore__content">
    <h2 class="admission-aid-explore__title">{{ explore.title }}</h2>
    <div class="admission-aid-explore__intro">{{ explore.intro|raw }}</div>
  </div>
  {% include "@video-embed" with explore.video_embed %}
</div>

<div class="admission-aid-why">
  <div class="admission-aid-why__callouts">
    <h2 class="admission-aid-why__callouts-label">{{why_iowa.label}}</h2>
    <ul>
      {% for callout in why_iowa.callouts %}
      <li>
        <div class="admission-aid-why__callout-media">
          <img src="{{ callout.image|path }}" alt="" />
        </div>
        <div class="admission-aid-why__callout-content">
          <h3 class="admission-aid-why__callout-title">{{ callout.title }}</h3>
          <a class="link-tertiary" href="{{ callout.link.url }}">{{ callout.link.title }}<span class="arrow"></span></a>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="admission-aid-why__statistic statistic">
    <h2 class="admission-aid-why__statistic-label">{{ why_iowa.statistic_label }}</h2>
    <ul>
      {% for statistic in why_iowa.statistics %}
      <li>
        <h2 class="statistic__title">{{ statistic.statistic_title }}</h2>
        <p class="statistic__text">{{ statistic.statistic_text }}</p>
      </li>
      {% endfor %}
    </ul>
</div>
</div>

<div class="admission-aid-afford">
  <div class="admission-aid-afford__intro">
    <h2 class="admission-aid-afford__intro-title">{{ afford.title }}</h2>
    <div class="admission-aid-afford__intro-copy">{{ afford.intro|raw }}</div>
    {% include "@link-set" with afford.link_set %}
  </div>
  <div class="admission-aid-afford__columns">
    <ul>
      {% for section in afford.sections %}
      <li>
        <div class="admission-aid-afford__media">
          <img src="{{ section.icon|path }}" alt="" />
        </div>
        <div class="admission-aid-afford__section-content">
          <h3 class="admission-aid-afford__section-title">{{ section.title }}</h3>
          <div class="admission-aid-afford__section-description">{{ section.description|raw }}</div>
          <a class="link-tertiary" href="{{ section.link.url }}">{{ section.link.title }}<span class="arrow"></span></a>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="admission-aid-apply callout-inset">
  <div class="callout-inset_inset">
    <h2 class="callout-inset_inset-headline">{{ apply.title }}</h2>
    <div class="callout-inset_inset-text">{{ apply.intro_text|raw }}</div>
    {% include "@button-set" with apply.button_set %}
  </div>
  <div class="feature-with-large-image">
    <div class="feature-with-large-image__media">
      <img src="{{ apply.image|path }}" alt="" />
    </div>
    <div class="feature-with-large-image__content">
      <h2>{{apply.subtitle}}</h2>
      {% include "@link-set" with apply.link_set %}
    </div>
  </div>
</div>

<div class="admission-aid-links">
  <div class="admission-aid-links__intro">
    <h2 class="admission-aid-links__intro-subtitle">{{ links.subtitle }}</h2>
    <h3 class="admission-aid-links__intro-title">{{ links.title }}</h3>
  </div>
  <div class="admission-aid-links__link-list">
    <ul>
      {% for link in links.link_list %}
        <li>
          <div class="admission-aid-links__link-list-icon">
            <img src="{{ link.icon|path }}" alt="" />
          </div>
          <a class="admission-aid-links__link-list-link" href="{{ link.url }}">{{ link.text }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="admission-aid-connect"></div>