<script>
  document.body.classList.add("home");
</script>

<div class="home-hero">
  <div class="home-hero__media">
		<img class="home-hero__media-mobile" src="{{ hero.image_mobile|path }}" alt="" />
    <img class="home-hero__media-desktop" src="{{ hero.image_desktop|path }}" alt="" />
	</div>
  <div class="home-hero__animation">
    <svg viewBox="0 0 350 300"><path d=""></path></svg>
  </div>
  <div class="home-hero__content-wrapper">
    <h1 class="home-hero__title">{{ hero.title|raw }}</h1>
    {% include "@button--reverse" with hero.button %}
  </div>
  <button class="home-hero__animation-control">Play/Pause</button>
</div>


<div class="home-community">
  <div class="home-community__label"><p>{{ community.label }}</p></div>
  <h2 class="home-community__headline">{{ community.headline}}</h2>
  <p class="home-community__body">{{ community.body}}</p>
  <div class="home-community__callout">
    <div class="home-community__callout-content-wrap">
      <h2 class="home-community__callout-headline">{{ community.callout.headline }}</h2>
      <p class="home-community__callout-body">{{ community.callout.body }}</p>
      {% include "@button" with community.callout.button %}
    </div>
    <div class="home-community__callout-media">
      <img src="{{ community.callout.imageOne|path }}" alt="" />
    </div>
    <div class="home-community__callout-media-two">
      <img src="{{ community.callout.imageTwo|path }}" alt="" />
    </div>
  </div>
</div>