<header class="site-header">
  <a href="https://www.iastate.edu/" class="site-header__logo">
    <img class="site-header__logo-mobile" src="{{ "/img/iowa-state-university-logo-no-tagline-red.svg"|path }}" alt="Iowa State University">
    <img class="site-header__logo-desktop" src="{{ "/img/iowa-state-university-logo-with-tagline-red.svg"|path }}" alt="Iowa State University of Science and Technology">
  </a>
  <div class="site-header__top">
    <nav class="site-header__utility" aria-label="Utility">
      <ul>
        {% for link in utility_nav %}
          <li>
            <a href="{{ link.url }}">{{ link.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
    <div class="site-header__search">
      <a href="#site-search" class="site-header__search-toggle">
        <span class="visible-for-screen-readers">Search</span>
        <span class="fak fa-id5-magnifying-glass"></span>
      </a>
      <a href="#" class="site-header__search-close">
        <span class="visible-for-screen-readers">Close Search</span>
        <span class="fa-light fa-xmark"></span>
      </a>
      <form class="site-header__search-form-desktop">
        <div>
          <span class="visible-for-screen-readers">Search</span>
          <input type="search" id="searchDesktop" name="search" placeholder="Search">
          <button type="submit"><span class="fak fa-id5-magnifying-glass"></span></button>
        </div>
      </form>
    </div>
  </div>
  <div class="site-header__main">
    <a href="#site-header-mega-menu" class="site-header__mega-menu-open" role="button" aria-controls="site-header-mega-menu">
      <div class="site-header__mega-menu-open-line-wrap">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </a>
    <div class="site-header__mega-menu" id="site-header-mega-menu">
      <div class="site-header__mega-menu-inner">
        <div class="site-header__mega-menu-scroller">
          <noscript>
            <a href="#" role="button" class="nojs-close-menu">Close Main Menu</a>
          </noscript>
          <div>
            <div class="site-header__mega-menu-main">
              <div class="site-header__mega-menu-max-bound">
                <nav class="site-header__mega-menu-main-nav" aria-label="Main">
                  <ul>
                    {% for link in full_nav %}
                      <li>
                        <a href="{{ link.url }}">{{ link.title }}</a>
                        {% if link.children|length %}
                          <ul{% if link.children|length > 5 %} class="two-column-dropdown"{% endif %}>
                            {% for child in link.children %}
                              <li>
                                <a href="{{ child.url }}">{{ child.title }}</a>
                              </li>
                            {% endfor %}
                          </ul>
                        {% endif %}
                      </li>
                    {% endfor %}
                  </ul>
                </nav>
              </div>
            </div>
            <div class="site-header__mega-menu-secondary">
              <div class="site-header__mega-menu-max-bound">
                <nav class="site-header__mega-menu-utility" aria-label="Utility">
                  <ul>
                    {% for link in utility_nav %}
                      <li>
                        <a href="{{ link.url }}">{{ link.title }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                  <form class="site-header__search-form-mobile">
                    <span class="visible-for-screen-readers">Search</span>
                    <input type="search" id="searchMobile" name="search" placeholder="Search">
                    <button type="submit"><span class="fak fa-id5-magnifying-glass"></span></button>
                  </form>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>